.editor {
    height: 100%;
    text-align: left;
}

/*#code-editor-area {*/
/*    width: 100% !important;*/
/*    height: 100% !important;*/
/*}*/

.marker {
    position: absolute;
    background: darkblue;
}