nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #dc3545;
    color: white;
    padding: 0 10px;
}

.nav-links {
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-links a {
    color: #777777;
}

.nav-links img {
    height: 35px;
}